* {
   margin: 0;
 }

 .navbar {
   background-color: #333;
   overflow: hidden;
 }

 ul {
  overflow: hidden;
  background-color: #333;
  text-align: center;
  list-style-type: none;
}

li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  text-decoration: none; 
  text-align: center;
  padding: 15px 15px;
  font-size: 20px;
}

.navbar ul li a:hover, 
.navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}


#logo {
  display: inline;
  overflow: hidden;
  text-decoration: none;
  color: #fff; 
  float: left;
  padding: 15px 20px;
  font-size: 25px;
  margin-left: 200px;
}


#marg {
   margin-right: 200px;
 }

#first {
   background-color: #fff;
   width: 100%;
   height: 300px;
}

.prim {
   float: left;
   width: 40%;
   margin-top: 30px;
   margin-left: 250px;
   font-size: 20px;
}

#pic {
   float: right;
   background-image: url(photo-2.jpg);
   border-radius: 50%;
   width: 350px;
   margin-right: 250px;
   margin-top: 30px;
}

.prim span {
   color:#f7c08a;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.prim h1 {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 40px;
   
}

.prim p {
   font-size: 18px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

#second {
   background-image: url(test-bg.jpg);
   height: 500px;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   padding-top: 100px;
}

 .room {
   background-color: #f7c08a;
   opacity: 0.9;
   height: 150px;
   margin-left: 230px;
   margin-right: 150px;
   margin-top: 50px;
   border-radius: 10px;
}


.back {
   float: left;
   border-radius: 50%;
   height: 100px;
   margin-left: 20px;
   margin-top: 15px;
}

#second p {
   float: right;
   margin-right: 25px;
   margin-top: 50px;
   font-size: 16px;
   color: #333;
}

#second h1 {
      color: #fff;
      text-align: center;
      font-size: 50px;
    }

#main-footer {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #444;
   height: 80px;
 }
 
 #main-footer p {
   text-align: center;
   font-size: 20px;
   padding-top: 25px;
   color:#fff;
   font-family: Georgia, 'Times New Roman', Times, serif;
   
 }